/* Vazirmatn and Lalezar, OFL-licensed (public/fonts/OFL.txt). Subset to
   Persian/Arabic (U+0600-06FF), basic Latin, and the handful of extra
   punctuation/arrow glyphs the app actually renders — not full Unicode,
   so still safe for arbitrary player-typed Persian text, just not for
   Cyrillic/Greek/CJK/emoji (those already fell back before subsetting). */
@font-face {
  font-family: 'Vazirmatn';
  src: url('/v2/fonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Vazirmatn';
  src: url('/v2/fonts/Vazirmatn-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Vazirmatn';
  src: url('/v2/fonts/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Vazirmatn';
  src: url('/v2/fonts/Vazirmatn-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: 'Lalezar';
  src: url('/v2/fonts/Lalezar-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
